header {
	background-color: green;
	width: 100%;
	min-height: 70px;
}

div.nav-container {
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

div nav ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	justify-content: center;
}

div nav ul li {
	background-color: yellow;
}